@import "../styles/config/_variables";
@import "../styles/config/_markdownSyntax";
.posts {
  &-title {
    padding-top: 16px;
    padding-bottom: 32px;
    h1 {
      margin-top: 0;
      margin-bottom: 23px;
      font-size: 1.5em;
    }
    p {
      font-size: 0.9em;
    }
  }
}
