@import "../styles/config/_variables";
@import "../styles/config/_markdownSyntax";
.posts {
  padding: 0 16px;
  background: #fdfdfd;
  @include breakpoint(tablat) {
    padding: 0;
  }
  &-title {
    padding: 16px 8px 32px 8px;
    // padding-bottom: 32px;
    h1 {
      margin-top: 0;
      margin-bottom: 23px;
      font-size: 1.5em;
    }
    p {
      font-size: 0.9em;
    }
  }
  &-tags {
    padding: 0 8px;
  }
  &-facebook {
    margin-top: 48px;
  }
  &-facebook-share {
    border: none;
    background: #3b5998;
    padding: 4px 8px;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    margin-left: 8px;
    font-size: 0.8em;
    cursor: pointer;
    vertical-align: middle;
    span {
      padding-right: 8px;
      vertical-align: middle;
      line-height: 1.5;
      font-size: 1em;
      display: inline-block;
    }
  }
}
