@import "./config/_variables";

.layout {
  width: 100%;
  &-left-side-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    border-right: 1px solid $light-violet;
    background: #fdfdfd;
    z-index: 10;
    @include breakpoint(tablet) {
      width: 80%;
      left: -80%;
    }
  }
  &-left-side-wrap .left-active {
    @include breakpoint(tablet) {
      left: 0;
    }
  }
  &-left-side-container {
    padding: $default-size-8-2;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  &-right-side-wrap {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100%;
    overflow-y: scroll;
    padding-top: 16px;
    box-sizing: border-box;
    @include breakpoint(tablet) {
      width: 100%;
      left: 0;
      padding-left: 24px;
    }
  }
  &-right-side-wrap .right-active {
    @include breakpoint(tablet) {
      left: 80%;
    }
  }
  &-layout-content-wrap {
    display: block;
    box-sizing: border-box;
  }
  &-layout-content-wrap::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
}
