@import "./config/_size";
@import "./config/_reset";
@import "./config/_color";
.layout {
  &-left-side-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    background: $default-gray;
  }
  &-left-side-container {
    padding: $default-size-8-2;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  &-right-side-wrap {
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
  }
  &-layout-content-wrap {
    display: block;
    box-sizing: border-box;
  }
  &-layout-content-wrap::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }
}
