@import "./config/_variables";

.search {
  padding-bottom: $default-size-8-2;
  position: relative;
  input {
    display: block;
    padding: 6px $default-size-8-2;
    box-sizing: border-box;
    width: 68%;
    border: unset;
    border: 1px solid #b197fc;
    color: $strong-violet;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
    @include breakpoint(mobileonly) {
      width: 100%;
    }
  }
  ::placeholder {
    color: $light-violet;
    font-weight: 400;
    opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 400;
    color: $light-violet;
  }
  input:focus {
    width: 100%;
    border: 1px solid $strong-violet;
  }
  .ais-SearchBox-submit,
  .ais-SearchBox-reset {
    display: none;
  }
  .react-autosuggest__suggestions-container {
    position: absolute;
    width: 100%;
    top: 47px;
    left: 0;
    background: #fff;
    box-sizing: border-box;
    font-size: 0.8em;
    height: auto;
    border-radius: 3px;
    -webkit-box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.3);

    ul {
      list-style: none;
      padding: 0 16px 16px 16px;
    }
  }
}

.search-object {
  &-title {
    font-size: 1.2em;
    h4 {
      margin-bottom: 8px;
    }
  }
  &-description {
    font-size: 0.9em;
    line-height: 1.5;
  }
}
