@import "../styles/config/_variables";

.side-bar {
  width: 250px;
  float: right;
  @include breakpoint(tablet) {
    width: 80%;
    float: none;
    margin: 0 auto;
  }
  &-title {
    font-size: 1.5em;
    margin: 32px 0;

    span {
      font-weight: 200;
    }
  }
  &-search {
    padding-bottom: $default-size-8-2;
    input {
      display: block;
      padding: 6px $default-size-8-2;
      box-sizing: border-box;
      width: 68%;
      border: unset;
      border: 1px solid #b197fc;
      color: $strong-violet;
      border-radius: 3px;
      outline: none;
      font-size: 14px;
      transition: all 0.2s ease-in-out;
    }
    ::placeholder {
      color: $light-violet;
      font-weight: 400;
      opacity: 1; /* Firefox */
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-weight: 400;
      color: $light-violet;
    }
    input:focus {
      border: 1px solid $strong-violet;
    }
  }
  &-menu {
    list-style: none;
    padding: 0;
    padding-bottom: $default-size-8-2;
    &-title {
      font-size: 1.2em;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 16px;
    }
    li {
      padding: 2px 0 2px 20px;
      margin: 4px 0;
      line-height: 1.8;
      transition: all 0.2s ease-in-out;
      a {
        color: $default-gray;
        display: block;
        cursor: pointer;
        text-transform: capitalize;
      }
    }
    li:hover {
      background: $light-violet;
      border-radius: 3px;
      a {
        color: $strong-violet;
      }
    }
  }
  &-menu,
  &-menu-tag {
    li {
      a {
        span {
          display: inline-block;
          margin-left: 8px;
          background: #b197fc;
          font-size: 0.7em;
          color: $light-violet;
          padding: 0 8px;
          border-radius: $default-size-8-2;
          vertical-align: middle;
        }
      }
    }
  }
}
.side-bar::after {
  content: "";
  height: 0;
  display: block;
  clear: both;
}
